.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
}

mat-grid-tile {
  background: lightblue;
}

li:hover {
  cursor: pointer;
}


