<mat-toolbar color="primary">
    <mat-toolbar-row>
      <h1>Quiz Engine</h1>
      
    </mat-toolbar-row>
  </mat-toolbar>



<div class="about-section">
  <h1>About Me</h1>
  <p> <strong style="font-size: 20px;">I'm Batman</strong> </p>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="https://drive.google.com/uc?export=view&id=1SWXP0eZUtQdDzKnqhbCt-Nf37FXmOb4-" alt="Batman" style="width:100%">
      <div class="container">
        <h2>Batman</h2>
        <p class="title">Vigilante</p>
        <p>I'm Vengeance</p>
        <p>bat@man.com</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="https://drive.google.com/uc?export=view&id=1SuMnuo2bFXL6UxSAAKzkFnEKkBeAHVCS" alt="Tushar" style="width:100%">
      <div class="container">
        <h2>Tushar Srivastava</h2>
        <p class="title">CEO & Founder</p>
        <p>A Day Dreamer and a Night Thinker</p>
        <p>tushar98@bu.edu</p>
      </div>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <img src="https://drive.google.com/uc?export=view&id=1cvaJuM-a5nTwmVldTbTpY_9brnbu_D9f" alt="Ironman" style="width:100%">
      <div class="container">
        <h2>Iron Man</h2>
        <p class="title">Designer</p>
        <p>Genius, Billionaire, Playboy, Philanthropist</p>
        <p>iron@man.com</p>
      </div>
    </div>
  </div>
</div>


