.quizzes {
    max-width: 500px;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    border: 1px solid black;
  }
  

  .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
  }
  .mat-tab-group {
    margin-bottom: 48px;
    margin-top: 40px;
  }
  
  
  